<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
        __DIR__.'/public',
    ]);

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@PSR2' => true,
        'array_syntax' => array('syntax' => 'short'),
        'binary_operator_spaces' => array(
            'align_double_arrow' => true,
            'align_equals'       => true,
        ),
    ))
    ->setFinder($finder);
